body {
    margin: 0;
    padding: 0;
    background: #13131D;
    font-family: 'Roboto', sans-serif;
}
.regular-text {
    font-weight: 300;
    font-size: 20px;
}

.semibold-text {
    font-weight: 500;
    font-size: 24px;
}

.header-image {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.img-main {
    filter: blur(1px);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style for the logo image */
.logo {
    max-width: 300px;
    max-height: 300px;
}


/* Navbar */
.nav {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    margin-top: 66px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    user-select: none;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link.active {
    color: #919191;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: 0;
    left: 5%;
    background-color: #007bff;
    border-bottom: 2px solid;
}


/* Main content */
.main {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    text-align:center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
}

.icon-links {
    color: #fff;
}

/*snowflakes*/



i, i:after, i:before { background: white; }
i {
	display: inline-block;
	-webkit-animation: snowflakes 3s linear 2s 20;
	-moz-animation: snowflakes 3s linear 2s 20;
	position: relative;
}
i:after, i:before {
	height: 100%;
	width: 100%;
	content: ".";
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: rotate(120deg);
}
i:before { -webkit-transform: rotate(240deg); }

@-webkit-keyframes snowflakes {
	0% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
	}
	100% {
		-webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
	};
}

.snowflakes i:nth-child(3n) {
	width: 16px; height: 4px;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 30;
	-webkit-transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
	width: 24px; height: 6px;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: 45;
	-webkit-transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
	width: 32px; height: 8px;
	-webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: 60;
	-webkit-transform-origin: right -15px;
}
	
/* different delays so they don't all start at the same time */
.snowflakes i:nth-child(7n) {
  opacity:.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
  opacity:.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
  opacity:.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
  opacity:.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
  opacity:.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
  opacity:.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
  opacity:.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}
