<div class="text-center">
    <footer>
        <div class="icon-container" style="font-size: 35px; margin: 30px; user-select: none;">
            <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"><i class="fab fa-youtube icon-links"></i></a>
            <a href="https://www.tiktok.com/@zeqabridge" target="_blank"><i class="fab fa-tiktok icon-links"></i></a>
            <a href="https://github.com/Beavermon/Competitive-Zeqa-Bridge-Website" target="_blank"><i class="fab fa-github icon-links"></i></a>
        </div>
        <div style="position: relative; text-align: left; padding: 10px; user-select: none;">
            <p style="position: fixed; bottom: 0; width:100%;"> made by Beavermon & Jaxfry</p>
        </div>
    </footer>
</div>
