<header>
    <!-- Image Section -->
    <div class="header-image">
        <img src="/Competitive-Zeqa-Bridge-Website/asset/images/slide4.png" class="img-main" alt="Responsive Image">
        <!-- Logo Container -->
        <div class="logo-container">
            <img src="/Competitive-Zeqa-Bridge-Website/asset/images/logo.png" alt="Logo" class="logo">
        </div>
    </div>
    
    <!-- Navigation Bar -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/Competitive-Zeqa-Bridge-Website/">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Competitive-Zeqa-Bridge-Website/news/">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Competitive-Zeqa-Bridge-Website/faq/">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tiering</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://dsc.gg/zeqabridge">Join <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </li>
    </ul>
</header>