<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/asset/images/logo.ico">
</head>
<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script>
    function preloadImages(array) {
        if (!preloadImages.list) {
            preloadImages.list = [];
        }
        var list = preloadImages.list;
        for (var i = 0; i < array.length; i++) {
            var img = new Image();
            img.onload = function() {
                var index = list.indexOf(this);
                if (index !== -1) {
                    // remove image from the array once it's loaded
                    // for memory consumption reasons
                    list.splice(index, 1);
                }
            }
            list.push(img);
            img.src = array[i];
    }
}

preloadImages(["/asset/images/slide1.png", "/asset/images/slide2.png", "/asset/images/slide3.png", "/asset/images/logo.png"]);
    </script>
</body>
</html>